* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 20px 0px;
}

.navbar .navbar-items a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.hero {
    background-image: url('./clothe-image.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: '';
    background: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
}

.hero-items h1, .hero-items p {
    position: relative;
    z-index: 2;
}

.about {
    margin: 30px 0px;
}

.about h1 {
    margin-top: 30px;
}

.about h3 {
    margin-bottom: 30px;
}

.about-items {
    display: flex;
}

.products {
    margin: 50px 0px;
}

.products h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
}

.products-card img {
    width: 100%;
}

.product-items {
    padding: 10px 20px;
    text-align: center;
}

.product-title h2, .product-price p, .product-items p, .product-items button {
    margin-bottom: 15px;
}

.product-items button {
    border: none;
    background: greenyellow;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.about-items {
    display: flex;
    align-items: center;
}

.about-items .about-info {
    padding: 10px 20px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
}

.about-info h1 {
    margin-bottom: 10px;
}

.faqs {
    margin: 40px 0px;
}

.accordion {
    width: 100%;
    border: none;
    outline: none;
    background: gray;
    padding: 18px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.active, .accordion:hover {
    background: #ccc;
    color: black;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.panel p {
    margin: 15px 0px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

footer {
    background: #222831;
    color: #fff;
    padding: 30px 0px;
}

.footer-details button {
    border: none;
    padding: 10px 20px;
    background: greenyellow;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 7px;
}

.footer-left h3, .footer-left p {
    margin-bottom: 10px;
}

.footer-links, .footer-socials {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.footer-mid .footer-links a, .footer-socials a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}