* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navbar .right-nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2;
}

.hero h1, .about h1, .products h1 {
    margin-bottom: 8px;
    font-size: 3rem;
}

.hero p {
    font-weight: 400;
    font-size: 1.2rem;
}

.about {
    margin-top: 70px;
}

.about h1, .about h3, .products h1, .products h3 {
    padding: 0 20px;
}

.about-details {
    display: flex;
    padding: 10px 20px;
}

.products {
    margin-top: 200px;
    margin-bottom: 100px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 24px;
}

.products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: whitesmoke;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    max-width: 100%;
}

.products-img {
    max-width: 100%;
    overflow: hidden;
}

.products-title h4, .products-text, .products-btn button {
    padding: 5px 20px;
}

.products-title h4 {
    margin-top: 10px;
    font-size: 1.3rem;
}

.products-text {
    margin-top: 20px;
}

.products-btn button {
    background: rgb(17, 240, 9);
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer {
    background: #222831;
    color: #fff;
    padding: 10px 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;   /* centers items horizontally in each grid cell */
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-left p {
    margin-bottom: 15px;
}

.footer-socials a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-mid h2, .footer-left h2, .footer-right h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}