.color-picker-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 20px 0px;
    font-size: 4rem;
}

.color-display p {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-radius: 15px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="color"] {
    padding: 5px;
    height: 50px;
    width: 100px;
    border: 3px solid rgb(201, 199, 199);
}