.category {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid;
    margin: 10px 0px;
    background: skyblue;
}

.item-list li {
    text-align: center;
    font-size: 1.2rem;
}

.item-list li:hover {
    color: gray;
    cursor: pointer;
}