.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 80%);
    justify-content: center;
    
    height: 100vh;
}

.display {
    padding: 30px;
    border: 15px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
}

.display h1 {
    font-family: monospace;
}

.controls button {
    margin: 5px;
}
.start-btn {
    background-color: rgb(0, 219, 0);
}
.stop-btn {
    background-color: rgb(237, 6, 37);
}
.reset-btn {
    background-color: rgb(27, 10, 223);
}